
body {
  font-family: Arial, sans-serif;
  background-color: #007bff;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.inputs {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #0056b3;
}

.result {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}

.result p {
  margin-bottom: 5px;
  font-size: 16px;
}

.result #finalBalance {
  color: #067821;
  font-size: 30px;
}

.result #totalInvestment {
  color: #ab0c1c;
}
